<h1>Editing feed_spec</h1>

<% form_for(@feed_spec) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :regex %><br />
    <%= f.text_field :regex %>
  </p>
  <p>
    <%= f.label :time_field_name %><br />
    <%= f.text_field :time_field_name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @feed_spec %> |
<%= link_to 'Back', feed_specs_path %>
