<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Streak</th>
    <th>Max streak</th>
    <th>commits today</th>
    <th>commits yesterday</th>
  </tr>

<% for user in User.top_users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.streak %></td>
    <td><%=h user.max_streak %></td>
    <td><%=h user.commits_today %></td>
    <td><%=h user.commits_yesterday %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
