<div id="calendar">
  <%= 
now        = Date.new(2008, 10 )
    prev_month = now << 1
    next_month = now >> 1
    @cal = calendar :year => now.year, :month => now.month,
    :previous_month_text => %(<a href="/~#{@user.name}/#{prev_month.year}/#{prev_month.month}">Previous Month</a>), 
    :next_month_text     => %(<a href="/~#{@user.name}/#{next_month.year}/#{next_month.month}" class="next">Next Month</a>) do |d|
      logger.info d.inspect
      if @user.on_days.include? d
        [d.mday.to_s + "<div class='xmarksthespot x-1'/>", {:class => "progressed"}]
      else
        [d.mday, {:class => "slacked"}]
      end
    end
  @cal
-%>
</div>
<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Streak:</b>
  <%=h @user.streak %>
</p>

<p>
  <b>Max streak:</b>
  <%=h @user.max_streak %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
